<h3>
    <i class="maki maki-lg maki-bicycle"></i>
    {{#if properties.tags.name}}
        {{properties.tags.name}}
    {{else}}
        Hyrcyklar
    {{/if}}
</h3>

<div class="ui segment raised">
    {{#if properties.tags.capacity}}
    <p>
        <em>{{properties.tags.capacity}}</em> cykelställ
    </p>
    {{/if}}

    <p>
        <em>
            {{#if properties.tags.website}}
                <a href="{{properties.tags.website}}">{{properties.tags.network}}</a>
            {{else}}
                {{properties.tags.network}}
            {{/if}}
        </em>
    </p>
</div>